
      <div class="navibar">
        <div id="containIcon">
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="sidenav">
        <div class="test2"></div>
        <div class="test"></div>
        <h1>Choisie ta destiné</h1>
   <ul class="menuItems">
    <li><span></span>Grand Canyon<span></span><div class="test"></div></li>
    <li><span></span>New Zealand<span></span><div class="test"></div></li>
    <li><span></span>Akaroa<span></span><div class="test"></div></li>
    <li><span></span>Queenstown<span></span><div class="test"></div></li>
  </ul>
        
      </div>
              
  
  